.Movie{
    display: flex;
    flex-direction: column;

    width: 20%;

    margin-bottom: 5px;
}

.title{
    color: #6697af;
    font-size: 20px;
}

.release_date{
    font-size: 13px;
    color: #868686;
}

